.userText{
  color: black;
  font-size: 22px;
  text-decoration: none;
}

.logoutWrap{
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.btnLogout{
  display: flex;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;

}

.btnLogout:hover {
  /* border: transparent; */
  color: rgb(184, 111, 23);
  transition: 0.5s ease;
}

.icon {
  width: 22px;
  height: 22px;
  color: rgb(0, 0, 0);
}